*.bak

# quartus
*.rpt
*.chg
*.log
*.htm
*.eqn
*.pin
*.pof
*.summary
*.done
*.smsg
*.qws
*.jdi
*db
*.sopcinfo
*.tcl~
output_files/
db/
incremental_db/
.qsys_edit/
C/nios2eds/DE1_SoC_demo_bsp
C/nios2eds/DE1_SoC_demo_nios
C/nios2eds/DE1_SoC_demo

RTL/quartus/c5_pin_model_dump.txt
RTL/quartus/hps_sdram_p0_summary.csv
RTL/quartus/PLLJ_PLLSPE_INFO.txt

RTL/quartus/soc_system
RTL/quartus/simulation
RTL/quartus/hps_isw_handoff