*.bak

# quartus
*.rpt
*.chg
*.log
*.htm
*.eqn
*.pin
*.sof
*.pof
*.summary
*.done
*.smsg
*.qws
*.jdi
*db
DE1_SoC_demo/RTL/vhdl/.library_mapping.xml
DE1_SoC_demo/RTL/vhdl/.project
DE1_SoC_demo/RTL/vhdl/.settings/org.eclipse.core.resources.prefs
